<html lang="en">
  <p>
    <mat-toolbar>
      <span style="margin: auto;
      width: 50%;
      border: 3px solid rgb(79, 67, 235);
      padding: 10px;
      text-align: center;"

      >Shashwat Utkarsh Form</span>
    </mat-toolbar>
  </p>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="center">
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field> &nbsp;
      </p>
      
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field> &nbsp;
      </p>

      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field> &nbsp;
      </p>

      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Phone No.</mat-label>
          <input matInput formControlName="phoneNo">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field> &nbsp;
      </p>
      
      <p>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field> &nbsp;
      </p>
      
      <div>
        <button class="example-button-row"mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      </div>

    </form>
</html>




<!-- <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
      <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
          <div *ngIf="form['email'].errors['required']">
              Field is required
          </div>
          <div *ngIf="form['email'].errors['email']">
              Email format is invalid
          </div>
      </div>
  </div>

  <div class="form-group mt-3">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
      <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
          <div *ngIf="form['password'].errors['required']">
              Password is required
          </div>
      </div>
  </div>

  <div class="mt-3 d-flex justify-content-between">
      <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Sign in
      </button>
  </div>

</form> -->